.footer {
    color: black; 
    background: white;
    position: fixed; 
    top: 95%;
    text-align:center; 
    width:100%;
    font-family: sans-serif;
    font-size:75%;
}

.reveal pre code {
  font-size: .8em
}

.question_master {
  font-size: 65% !important;
  margin-bottom: .45em !important;
}


